* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* SECTION ONE STYLING */
#one h1 {
    font-size: 2.8rem;
}

#one p, #two ul li, #three ul li, #four ol li {
    font-size: 1.2em;
}


/* SECTION TWO STYLING */
#two {
    padding: 1.4rem 2.5rem 1.4rem 1.5rem;
}

#two h3 {
    font-size: 1.7rem;
}


/* THREE STYLING */
#three h2, #four h2, #five h2  {
    font-size: 2.2rem;
}


/* SECTION SIX STYLING */
#six {
    font-size: 1rem;
}
